body {
    font-family: sans-serif;
    margin-top: 5px;
}

.mark-suit {
background: url("/ui/hulk.png");
background-repeat: no-repeat;
}

.back {
background: url(/ui/back.gif);
background-repeat: no-repeat;
}

.life {
background: url("/ui/life.jpg");
background-repeat: no-repeat;
}

.kapil {
background: url("/ui/url.png");
background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 320%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-new {
    height: 150px;
    padding-left:650px;
    margin-top:195px;
}

.img-medium {
    height: 150px;
}

.img-move {
    height:200px;
    max-width: 2000px;
}

.img-clock {
    margin-bottom:-190px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    color: black;
    font-family: cursive;
    padding-left: 15px;
    padding-right: 15px;
    font-size:86%;
}
.footer {
    color:#5555d6;
}

