body {
    font-family: sans-serif;
    margin-top: 50px;
}

.mark-suit {
background: url("mark-suit.png");
background-repeat: no-repeat;
}

.back {
background: url('/ui/back.gif');
background-repeat: no-repeat;
}

.page2 {
background: url("page2.png");
background-repeat: no-repeat;
}

.page1 {
background: url("page1.png");
background-repeat: no-repeat;
}

.life {
background: url(/ui/life.jpg);
background-repeat: no-repeat;
}

.wow {
background: url("wow.png");
background-repeat: no-repeat;
}

.kapil {
background: url("kapil.png");
background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 320%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-new {
    height: 150px;
    padding-left: 650px;
    margin-top: 140px;
}
.img-medium {
    height: 150px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    color: black;
    font-family: cursive;
    padding-left: 15px;
    padding-right: 15px;
    font-size:86%;
}

