body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 320%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 240px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    color: #0c0a75;
    font-family: sans-serif;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
